@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700); /* Montserrat font */
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css); /* Hanna font */

*{
	outline:0;padding: 0;margin:0;
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
}

.default {
	overflow: hidden;
	float: center;
	position: relative;
	min-width: 350px;
	background: #ffffff;
	font-family: "Montserrat", serif;
	color: #000000;
	text-align: center;
	font-size: 1em;
}

/* HERO */
.hero {
	margin-top: 5em;
	margin-bottom: 2em;
}

.hero img{
	margin-top: 1em;
}

/* CONTACT */
.box {

}

.box p {
	padding-top: 44%;
}

#box1 {
	display: inline-block;
	width: 350px; 
	height: 206px; 
	margin: auto;
	background-image:url('images/phone.png');
	background-repeat: no-repeat;
}

#box2 {
	display: inline-block;
	width: 350px; 
	height: 206px; 
	margin: auto;
	background-image:url('images/address.png');
	background-repeat: no-repeat;
}

#box3 {
	display: inline-block;
	width: 350px; 
	height: 206px; 
	margin: auto;
	background-image:url('images/email.png');
	background-repeat: no-repeat;
}

#box4 {
	display: inline-block;
	width: 350px; 
	height: 206px; 
	margin: auto;
	background-image:url('images/insta.png');
	background-repeat: no-repeat;
}

/* COPYWRITE */
.copywrite {
	margin-top: 1em;
	margin-bottom: 1em;
}


/*
#box2 {
	display: inline-block;
	width: 350px; 
	height: 206px; 
	background-color: #b5deb4;
	margin: auto;
	margin-top: 1em;
	padding-top: 1.5em;
}
*/